.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}



.resourceList .resource {
    margin-bottom: 27px;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 18px;
    float: left;
    width: 20%;
    display: inline-block;
    border: solid 1px #1d1d1d54;
    position: relative;
    margin-right: 17px;
}


.resourceList .resource:before {

    border: solid 1px #1d1d1d54;
    position: absolute;
    border-radius: 4px;

}






form#updateResourceFormObject {}

form#updateResourceFormObject label {
    font-size: 12px;
}

form#updateResourceFormObject input#resourceTitle {
    background: none;
    border: none;
    border-bottom: solid 1px gray;
    width: 52%;
}

form#updateResourceFormObject .updateResourceFormObjectSubmit {
    display: block;
    margin-top: 10px;
    margin-bottom: 60px;
}

form#updateResourceFormObject .updateResourceFormObjectSubmit button#createResourceBtn {
    margin-right: 27%;
}

.updateResourceFormObject {
  display: none;
}
.updateResourceFormObject.updating {
  display: block;
}
.entities.updating {
  display: none;
}
